html {
    background: gray;
}

.left-cn {
    width: 40%;
    background: #494E5F;
}


.center {
    display: flex;
    justify-content: center;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    color: #FFE7D4;
    font-weight: bold;
    justify-content: start;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.second-name {
    color: #D9DADA;
    font-family: 'Lato', sans-serif;
    margin: 0% !important;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    color: #F3F3F0;
    margin: 0% !important;
}

.hr {
    background: #FFE7D4;   
    height: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.texto {
    text-align: left;
    padding: 5%;
}

/***************************************************************************/

.right-cn {
    width: 60%;
    padding: 3% 4%;
    background: white;
}

.container {
    background: #ffe7d4;
    color: #494e5f;
    padding: 2% 4%;
    text-align: start;
    font-family: 'Poppins', sans-serif;
}

.r-title {
    color: #5d5f68;
    font-family: 'Lato', sans-serif;
    text-align: start;
    font-weight: bold;
}

.r-subtitle {
    color: #888b97;
    font-family: 'Lato', sans-serif;
    text-align: start;
    font-weight: bold;
    margin: 0%;
}

.r-text {
    color:#898c97;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-weight: normal;
}

.box-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}